
@mixin centercenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}


#banner{
    height: 100vh;
    @include centercenter();
    background-image: url('../assets/banner1.jpg');
    background-size: cover;
    h1{
        background-color: rgb(223, 221, 221);
        padding: 20px;
        border-radius: 15px;
    }
}

#intro{
    min-height: 600px;
    background-color: maroon;
    @include centercenter();
    p{
        margin: 50px;
        font-size: 40px;
        //color: white;
        // background: -webkit-linear-gradient(#eee, #333);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        background-image: linear-gradient(150deg, rgb(15, 68, 167) -100.65%, rgb(217, 90, 90) -0.65%, rgb(76, 167, 84) 99.35%);
        -webkit-background-clip: text;
    }
}

#testimonials{
    min-height: 800px;
    background-image: url('../assets/testimonials-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @include centercenter();
    .testimonials{
       min-height: 600px;
       width: 25%;
       background-color: black;
       opacity: 0.4;
       margin: 0 10px;
       color: white;
       font-size: 25px;
       text-align: center;
       padding: 15px;
    }
}

#footer{
    min-height: 500px;
    @include centercenter();
    background-color: rgb(155, 154, 154);
}

